{% extends 'STSAnnuaireBundle::layout.html.twig' %}

{% set title = 'Annuaire' %}


{% block description %}Annuaire{% endblock %}

{% block content -%}

    <table class="table table-striped table-hover" width="90%" id="myTable">
        <thead>
            <tr>
                <th colspan="2" width="10%"></th>
                <th>Nom</th>
                <th>Prénom</th>
                <th width="20%">Tél. fixe</th>
                <th width="20%">Tél. mobile</th>
                <th width="10%">Département</th>
            </tr>
        </thead>

        <tbody>
            {% for entity in entities %}

                {# format phone numbers #}
                {% set splitArray = entity.telFixe|split('', 2) %}
                {% set formattedPhone = splitArray|join(' ') %}

                {% set splitArray = entity.telMobile|split('', 2) %}
                {% set formattedMobile = splitArray|join(' ') %}

                <tr>
                    <td><a href="{{ path('annuaire_show', { 'id': entity.id }) }}"><img src={{ asset('images/Zoom.png') }} size="10" /></a></td>
                    <td><a href="{{ path('annuaire_edit', { 'id': entity.id }) }}"><img src={{ asset('images/Modify.png') }} size="10" /></a></td>
                    <td>{{ entity.nom }}</td>
                    <td>{{ entity.prenom }}</td>
                    <td class="text-center">{{ formattedPhone }}</td>
                    <td class="text-center">{{ formattedMobile }}</td>
                    <td class="text-center">{{ entity.departement }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div align="center">
        <button onclick="window.location.href = '{{ path('annuaire_new') }}';" class="btn btn-primary">Nouveau contact</a>
    </div>
{% endblock %}



{% block javalinks %}
    <link rel=stylesheet type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css" />
    <script src="//cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
{% endblock%}
{% block javascripts %}
    <script>
            $(document).ready(function () {
                // DataTable
                $('#myTable').DataTable({
                    "language": {
                        "url": "http://cdn.datatables.net/plug-ins/f2c75b7247b/i18n/French.json"
                    }
                });
            });
    </script>
{% endblock%}
